.cursor {
  position:fixed;
  top: 0;
  left: 0;
  width: 82px;
  height: 82px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  will-change: transform, width, height, border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
}

